/* Empty. Add your own CSS if you like */

.scroll-content{
  background: url(./../img/BG.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}

/*@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .scroll-content{
    background: url(./../img/BG1.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .scroll-content{
    background: url(./../img/BG.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}*/